.about-main{
    margin: 100px;
}
.about-title{
    color:#107586;
    font-family: poppins;
    font-size: 4em;
}
.about-para{
    font-size: 14px;
    font-weight: 600;
    color: white;
    text-align: justify;
    margin-right: 200px;
    margin-left: 100px;
}