.footer-container{
    padding: 50px;
    background-color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 0px;
}

/* .bground{
    background-color: white;
} */