.banner-container{
    background-image: url("../Ui/Pills_Bottle_v02_dull.png");
    background-repeat: no-repeat;
    background-position: 90%;
    background-size: 70%;
    margin: 130px;
    margin-bottom: 250px;
    margin-left: 160px;
    /* margin-top: -130px;
    padding-top: 130px; */
    width:auto;
    height: 580px;
}

.ban-button{
    width: 150px;
    height: 40px;
    margin-top: 7em;
    background-color: #107586;
    padding: 12px;
    border: none;
    border-radius: 25px;
    font-size: 0.7em;
    font-weight: 600;
    letter-spacing: 2px;
    
}
.d-blue{
    color: #107586;
}
.white{
    color:white;
}
.land-title{
    margin-bottom: 0px;
    font-size: 5em;
}
.under-title{
    margin-top: 0px;
    font-size: 14px;

}
/* #Bottle-style{
    position:relative;
    top: -200px;
    left: 500px;
    width: 50vw;
    height: auto;
    z-index: -1;
    opacity: 0.5;
    
} */