.line-container{
    background-color: white;
}

.line{
    margin-left: 8%;
    margin-right: 8%;
    margin-bottom: 30px;
    opacity: 0.5;
}

.copyright{
    text-align: center;
    opacity: 0.3;
    font-size: smaller;
}