.imagee {
    min-height: 12rem;
    min-width: 22.5rem;
    margin: 1rem;

}

.imagee img {
    width: 80%;
    height: 100%;
    border-radius: 1%;
    pointer-events: none;
}

.inner-carousel {
    display: flex;
}

.carousel {
    margin-left: -8%;
    margin-right: -8%;
    cursor: grab;
    overflow: hidden;
}

.ourproject {
    margin: 0 10%;

}

.headings {
    color: #107586;
    font-family: poppins;
    font-size: 4.2em;
    margin-bottom: 20px;
    line-height: 0.8em;
}
.headingssm {
    color: white;
    font-family: poppins;
    font-size: 3em;
    margin-bottom: 15px;
    line-height: 0.8em;
}


.back {
    background-color: #28A282;
    height: 85vh;
    padding: 1%;
    padding-bottom: 0px;
    padding-left: 3%;
}